// color
$gold: #d1a954;
$dark: #333333;
$white: #ffffff;
$light-gray: #c4c4c4;
$aside: rgba(51, 51, 51, 0.75);
$gray:#616161;
$dark-gray: #444444;
$placeholder:#989898;

// width
$max-width: 1920px;
$large: 992px;
$medium: 768px;
$small: 576px;
